html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    margin: 0 auto;
    height: 100vh;
    background-color: #eeeeee;
}
#todo-list {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}
#todoApp {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 0 0 5px 5px;
}
#todoApp todo-footer{
    background:black;
}
li {
    padding: 8px;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}
.delete {
    border-radius: 50%;
    border:none;
}
#todo-list li {
    position: relative;
    padding-right: 40px; 
    list-style: none;
    margin-bottom: 8px;
}
#todo-list li .delete {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

#todo-list li:hover .delete {
    display: inline-block;
}
#new-todo{
    width:80%; 
    margin: 0 10%;
}
#todo-list li.editing .view {
    display: none;
}

#todo-list li.editing .edit {
    display: block;
    width: 90%;
    padding: 5px;
}
